/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  font-family: "Poppins", sans-serif;
}

@tailwind components;
@tailwind utilities;

/* Custom global reusable styles */
.title {
  @apply text-3xl lg:text-5xl font-bold text-white tracking-tight;
}

.description {
  @apply text-sm lg:text-lg text-blue-100 leading-relaxed;
}

.primaryButton {
  @apply bg-orange-500 w-full lg:w-fit text-center text-white px-3 md:px-6 py-3 rounded-sm hover:bg-orange-600 transition-colors duration-300 text-lg font-semibold;
}

.secondaryButton {
  @apply bg-white text-blue-600 w-full lg:w-fit text-center px-3 md:px-6 py-3 rounded-sm hover:bg-blue-100 transition-colors duration-300 text-lg font-semibold;
}

.cardTitle {
  @apply text-xl lg:text-3xl font-bold text-white tracking-tight;
}

input {
  outline: none !important;
}

textarea {
  outline: none !important;
}

button {
  outline: none !important;
}

/* Hide scrollbar for Chrome, Safari, Edge */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none; /* Firefox */
}
