/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  font-family: "Poppins", sans-serif;
}

@tailwind components;
@tailwind utilities;

/* Custom global reusable styles */
.title {
  @apply text-3xl lg:text-5xl font-bold text-white tracking-tight;
}

.description {
  @apply text-sm lg:text-lg text-blue-100 leading-relaxed;
}

.cardTitle {
  @apply text-xl lg:text-3xl font-bold text-white tracking-tight;
}
